<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Classifier</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='classifier/style.css') }}">
  <script src="{{ url_for('static', filename='classifier/script.js') }}"></script>
</head>
<body>
  <header style="text-align:center; padding:20px; background:#f5f5f5;">
    <h1>AIN-B Group 01</h1>
    <p>Plant Disease Dataset: 
      <a href="https://www.kaggle.com/datasets/emmarex/plantdisease" target="_blank">
        Kaggle
      </a>
    </p>
    <p>Habibi Mohammad, Karas Stephan, Maryam Muzna, Maruhn David</p>
  </header>
  <div class="main-div" id="main-div">
    <div id="drop-zone" class="drop-zone">
      <img class="preview-bg" src="" id="preview-bg">
      <input type="file" name="file" id="file-input" style="display:none;">
      <div class="output-div" id="output-div">
        Please drop an image file here or click to select one.
      </div>
    </div>
  </div>
</body>
</html>
